<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${title}"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link th:href='@{/css/main.css}' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    
    <div class="wrapper form-container">
        <div class="img-wrap"></div>
        <form th:action="@{/login}" class="form-login" method="post">
        <h1>Log In🤪</h1>
        <div class="error" th:if="${param.error}">Invalid Username or Password🙄</div>
        <div>
            <span class="error" th:text="${logout}">[as]</span>
        </div>
            <div class="form">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <a href="/logout">Logout</a>
            </div>
            <button class="submit" type="submit">Log In</button>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>