<footer th:fragment="footer">
    <div class="footer-cards">
        <div class="footer-card">
            <h4>Subscribe to our news letter </h4>
            <div class="email-container">
                <input type="email" style="color: white; width: 100%;" class="search-input" id="email" placeholder="Your email here">
                <label for="email">
                    <i style="color: white; cursor: pointer;" class="bi bi-send"></i>
                </label>
            </div>
        </div>
        <div class="footer-card">
            <h3>Support</h3>
            <p>Tel: +234 XXXXXXXX</p>
            <a href="mailto:scienceshephard@gmail.com">Email: example@gmail.com</a>
        </div>
        <div class="footer-card">
            <h3>Account</h3>
            <a href="/userid">My Account</a>
            <a href="/sign-in">Log in/ Register</a>
            <a href="/usercart">Cart</a>
            <a href="/Whistlist">Whistlist</a>
            <a href="/products">Shop</a>
        </div>
        <div class="footer-card">
            <h3>Quick Link</h3>
            <a href="/privacy"> Privacy Policy</a>
            <a href="/terms"> Terms of Use</a>
            <a href="/contact"> Contact</a>
        </div>
    </div>
    <div class="main-footer">
        <p>Copyright &copy; 2024🤡🤡</p>
    </div>
</footer>