<footer th:fragment="footer">
    <div class="footer-cards">
        <div class="footer-card">
            <h3>Exlusive</h3>
            <h4>Subscribe</h4>
            <div class="email-container">
                <input type="email" class="search-input" placeholder="Your email here">
                <img th:src="@{/images/message-line.svg}" class="img-icons" alt="message-line" />
            </div>
        </div>
        <div class="footer-card">
            <h3>Support</h3>
            <p>Tel: +234 XXXXXXXX</p>
            <a href="mailto:scienceshephard@gmail.com">Email: example@gmail.com</a>
        </div>
        <div class="footer-card">
            <h3>Account</h3>
            <a href="/userid">My Account</a>
            <a href="/sign-in">Log in/ Register</a>
            <a href="/usercart">Cart</a>
            <a href="/Whistlist">Whistlist</a>
            <a href="/products">Shop</a>
        </div>
        <div class="footer-card">
            <h3>Quick Link</h3>
            <a href="/privacy"> Privacy Policy</a>
            <a href="/terms"> Terms of Use</a>
            <a href="/contact"> Contact</a>
        </div>
    </div>
    <div class="main-footer">
        <p>Copyright &copy; 2024🤡🤡</p>
    </div>
</footer>