<header id="top" class="header">
  Summer Sale for all Swim Suits And Free Delivery -OFF 50%
    <a href="/cart" class="text-decoration-none">Shop Now</a>
</header>
<nav th:fragment="header" class="navbar">
  <div class="navbar-nav">
    <h1 class="logo"><a href="/"><img alt="logo" th:src="@{/images/imageicon.svg}"></a></h1>
    <div class="nav-links">
      <button id="menubtn" onclick="ShowMobileNav()">
        <i class="bi bi-list" id="btn" style="font-size: 1.5rem;"></i>
      </button>
      <div class="MainLinks-default MainLinks-mobile" id="nav-links">
        <a href="/register" th:if="${username == 'anonymousUser'}">Sign-Up</a>
        <hr>
        <a href="/contact">Contact</a>
        <hr>
        <a href="/about">About</a>
        <hr>
        <a href="/logout" th:if="${username != 'anonymousUser' }">Logout</a>
      </div>
    </div>
    <div class="nav-icons">
      <div id="search-box">
        <input
          type="text"
          placeholder="What are you looking for?"
          id="search-input"
        />
        <label id="search-btn" for="search-input">
          <i class="bi bi-search"></i>
        </label>
      </div>
      <a href="/favorite">
        <div class="bi bi-heart"></div>
      </a>
      <a href="/cart">
        <i class="bi bi-cart"></i>
      </a>
      <a href="/userid" th:if="${username != 'anonymousUser' }" ><i class="bi bi-person-circle"></i></a>
    </div>
  </div>
</nav>

