.form-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.form input{
    border-bottom: 2px solid grey;
    margin: 10px;
    color: gray;
    font-size: 1.3rem;
}
.form input:nth-last-child(1){
    margin-top: auto;
}
.submit{
    padding: 16px;
    font-size: 1.3rem;
    background-color: chocolate;
    color: white;
}
.img-wrap{
    border: 1px solid black;
    width: 400px;
    height: 400px;
}
.error{
    background-color: #e42626dc;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.field{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}
@media(max-width: 716px){
    .img-wrap{
        display: none;
    }
}