<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${title}"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link th:href='@{/css/main.css}' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="wrapper">
            <div class="accont_img">
                <img th:src="@{/images/user-circle.svg}" width="100px" alt="user-circle">
                <p>Welcome <span th:text="${username}">[No Username]</span>!</p>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</body>
</html>