<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${title}"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" th:href="@{/images/imageicon.svg}" type="image/svg+xml">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <link th:href='@{/css/main.css}' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=phone_iphone" />
    
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/wrapper :: wrapper}"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script th:src='@{/js/app.js}'></script>
    <script th:src='@{/js/APIimages.js}'></script>
</div>
</body>
</html>