<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${title}"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link th:href='@{/css/main.css}' rel='stylesheet'>
    <link th:href='@{/css/login.css}' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="wrapper form-container">
            <div class="img-wrap"></div>
            <form th:action="@{/register}" th:object="${user}" class="form-login" method="post">
            <h1>Sign Up🤪</h1>
                <div class="form">
                    <div>
                        <input type="text" name="username" th:field="*{Username}" placeholder="User Name">
                        <span th:if="${#fields.hasErrors('Username')}" class="error" th:errors="*{Username}"></span>
                    </div>
                    <div>
                        <input type="email" name="email" th:field="*{Email}" placeholder="Email">
                        <span th:if="${#fields.hasErrors('Email')}" class="error" th:errors="*{Email}"></span>
                    </div>
                    <div>
                        <input type="password" name="Password" th:field="*{Password}" placeholder="Password">
                        <span th:if="${#fields.hasErrors('Password')}" class="error" th:errors="*{Password}"></span>
                    </div>
                    <div>
                        <input type="password" name="Confirm Password" th:field="*{ConfirmPassword}" placeholder="Confirm Password">
                        <span th:if="${#fields.hasErrors('ConfirmPassword')}" class="error" th:errors="*{ConfirmPassword}"></span>
                    </div>
                </div>
                <button class="submit" type="submit">Sign Up</button>
            </form>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</body>
</html>